div class="cards">
        <% @cards.each do |card| %>
            <% if card.card_type == "qa" %>
                <article class="card question">
                    <div class="social_media">
                        <a class="facebook" target=_blank href="http://www.facebook.com/share.php?u=<%= card.tweet_text %>"></a>
                        <a class="twitter" target=_blank href="http://twitter.com/home?status=<%= card.tweet_text %>" ></a>
                    </div>
                    <h1 class="question_text" >
                        <%= card.description %>
                    </h1>
                    <ol class="answers">
                    <% YAML.load(card.answers).each_pair do |k,v| %>
                        <li class="answer_wrap" >
                        <a class="answer" href="#" data-correct=<%=v%>> <%=k%></a>
                        </li>
                    <%end%>
                        </ol>
                    <div class=answered >
                        <span class=correctly>We wish it were otherwise, but you're right; </span>
                        <span class=incorrectly>Sadly, you were a bit optimistic. In point of fact,</span>
                        <%=card.tweet_text %>
                </article>
            <% end %>
                <% if card.card_type == "video" %>
                    <article class="card video">
                        <div class="social_media">
                        <a class="facebook" target=_blank href="http://www.facebook.com/share.php?u=<% card.tweet_text %>"></a>
                        <a class="twitter" target=_blank href="http://twitter.com/home?status=<% card.tweet_text %>" ></a>
                        </div>
                        <a class=play href="#"  ><span class=inner >&#9654;</span></a>
                        <iframe src='http://www.youtube.com/v/<%=card.video%>?version=3&enablejsapi=1' class='player' ></iframe>
                </article>
            <% end %>
            <% if card.card_type == "info" %>
                <article class="card info">
                    <div class="social_media">
                        <a class="facebook" target=_blank href="http://www.facebook.com/share.php?u=<% card.tweet_text %>"></a>
                        <a class="twitter" target=_blank href="http://twitter.com/home?status=<% card.tweet_text %>" ></a>
                    </div>
                    <img src=/assets/<%= card.image %>></img><br />
                    <div class="description">
                        <%= card.description %>
                    </div>
                </article>
            <% end %>
        <% end %>
<div>
